/*  轮播图  */
.banner {
    position: relative;
    width: 100%;
    height: 420px
}

/*  推荐奖励  */
.tjyj-box {
    padding-bottom: 50px;
    background-color: #F1F5F9;
}
.tjyj-box .tjgb {
    padding: 15px 0px;
    background-color: #fff;
}
.tjyj-box .tjgb>div {
    overflow: hidden;
    padding-left: 5%;
}
.tjyj-box .tjgb>div img {
    float: left;
    width: 26px;
}
.tjyj-box .tjgb>div .new-ruzhi {
    float: left;
    line-height: 24px;
    padding-left: 10px;
    height: 30px;
}
.tjyj-box .tjgb>div .new-ruzhi p {
    color: #000000;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    animation: myMove 11s linear infinite;
    animation-fill-mode: forwards;
}
.tjyj-box .tjyj {
    padding-top: 40px;
    margin-top: 40px;
}
.tjyj-box .tjyj .title img {
    width: 850px;
}
.tjyj-box .tjyj .title h1{
    position: relative;
    bottom: 30px;
}
.tjyj-box .tjyj .jl-box {
    display: flex;
    justify-content: center;
}
.tjyj-box .tjyj .jl-box .rzjl {
    margin-right: 50px;
    color: #14AC2D;
}
.tjyj-box .tjyj .jl-box .yqjl {
    margin-left: 50px;
    color: #000000;
}
.tjyj-box .tjyj .jl-box>div div {
    font-size: 16px;
    padding: 3px;
    border-bottom: 3px #1ea115 solid;
    border-radius: 5px;
    height: 30px;
    overflow: hidden;
}
.tjyj-box .tjyj .jl-box>div div p {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    animation-fill-mode: forwards;
}
.tjyj-box .tjyj .jl-box .rzjl div p {
    animation: myMove 10s linear infinite;
}
.tjyj-box .tjyj .jl-box .yqjl div p {
    animation: myMove 12s linear infinite;
}
/*文字无缝滚动*/
@keyframes myMove {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-30px);
    }
    20% {
        transform: translateY(-60px);
    }
    30% {
        transform: translateY(-90px);
    }
    40% {
        transform: translateY(-120px);
    }
    50% {
        transform: translateY(-150px);
    }
    60% {
        transform: translateY(-180px);
    }
    70% {
        transform: translateY(-210px);
    }
    80% {
        transform: translateY(-240px);
    }
    90% {
        transform: translateY(-270px);
    }
    100% {
        transform: translateY(-300px);
    }
}
.ii_key {
    float: right;
    color: #888;
    font-size: 16px
}

.ii_key a {
    display: inline-block;
    height: 36px;
    line-height: 40px;
    margin-left: 15px;
    color: #888
}

.ii_key a:hover {
    color: #1ea115
}

.ii_key .hover {
    color: #1ea115
}

.ii_tit {
    height: 36px;
    line-height: 32px;
    font-size: 30px;
    color: #1ea115;
    margin-top: 30px;
    margin-bottom: 18px;
    padding-left: 92px;
}

.ii_tit em {
    background: #1ea115;
    color: #fff;
    display: inline-block;
    margin-right: 2px;
    border-radius: 3px;
    margin-left: 3px;
    padding: 0 2px;
    height: 36px;
    line-height: 32px;
    vertical-align: top
}

.ii_cont {
    margin-right: -12px
}

.ii_cont li {
    float: left;
    width: 289px;
    border: 1px solid #fff;
    margin-right: 12px;
    border-radius: 2px;
    background: #fff;
    color: #888
}

.ii_cont li a {
    color: #444
}

.ii_cont li:hover {
    border-color: #1ea115
}

.ii_cont li:hover img {
    transform: scale(1.2, 1.2)
}

.ii_cont .name {
    font-size: 18px;
    border-bottom: 1px dashed #e6e6e6;
    height: 46px;
    line-height: 46px;
    display: block
}

.ii_cont .name:hover {
    color: #1ea115
}

.ii_cont .price {
    font-size: 24px;
    color: #1ea115
}

.ii_cont p {
    line-height: 30px;
    padding: 10px 0
}

.ii_cont .line {
    width: 1px;
    height: 14px;
    background: #e6e6e6;
    display: inline-block;
    margin: 0 10px;
    vertical-align: -1px
}

.ii_con {
    padding: 0 10px
}

.ii_pic {
    position: relative;
    margin: 10px 10px 0;
    width: 271px;
    height: 201px;
    overflow: hidden
}

.ii_pic img {
    position: relative;
    vertical-align: bottom;
    transition: all 0.6s;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block
}

.ii_pic .ic_hot {
    position: absolute;
    left: 0;
    top: 0
}

.ii_label {
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    background: #1ea115;
    color: #fff;
    padding: 0px 10px
}

.ii_store .ii_cont {
    margin-right: -10px
}

.ii_store .ii_cont li {
    width: 230px;
    margin-right: 10px
}

.ii_store .t5 {
    margin-bottom: 20px
}

.ii_store .name {
    height: 40px;
    line-height: 40px;
    text-indent: 2px;
    width: 100%
}

.ii_store .ii_con {
    padding: 0 10px 0px
}

.ii_store p {
    line-height: 24px;
    padding: 0px 0 0 25px;
    margin: 10px 0 10px;
    color: #aaa;
    height: 48px;
    overflow: hidden
}

.ii_store p .ic {
    float: left;
    margin-left: -20px;
    margin-top: 4px
}

.ii_store .ii_pic {
    width: 212px;
    height: 157px
}
/*  师资力量    */
.ptjz {
    width: 100%;
    height: auto;
    overflow: hidden;
    color: #ffffff;
    background: url("../images/bg_index.png") repeat;
    background-size: 100%;
    margin: 60px 0px;
    padding: 20px 0px;
}
.ptjz .item {
    float: left;
    overflow: hidden;
    width: 50%;
    padding-top: 20px;
}
.ptjz .item .item-img {

}
.ptjz .item .item-img img {
    width: 320px;
    height: 320px;
}
.ptjz .item .item-body {
    width: 320px;
    margin: 0px auto;
}
.ptjz .item .item-body .teacher-name {
    padding: 10px 0px;
    font-size: 24px;
}
.ptjz .item .item-body .teacher-desc {
    line-height: 22px;
    text-align: left;
    height: 88px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
/*  中夏掠影  */
.zxly {
    overflow: hidden;
    margin: 50px 0px;
}
.zxly .item {
    width: 50%;
    float: left;
}
.zxly .item .item-img {
    padding: 10px;
}
.zxly .item .item-img img {
    width: 100%;
    height: auto;
}
